# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__ai_djl_api_0_9_0.xml
/.idea/libraries/Maven__ai_djl_model_zoo_0_9_0.xml
/.idea/libraries/Maven__ai_djl_pytorch_pytorch_engine_0_9_0.xml
/.idea/libraries/Maven__ai_djl_pytorch_pytorch_native_auto_1_7_0.xml
/.idea/libraries/Maven__ca_umontreal_iro_ssj_2_5.xml
/.idea/libraries/Maven__classworlds_classworlds_1_1_alpha_2.xml
/.idea/libraries/Maven__colt_colt_1_2_0.xml
/.idea/libraries/Maven__com_fifesoft_rsyntaxtextarea_2_6_1.xml
/.idea/libraries/Maven__com_formdev_flatlaf_2_0.xml
/.idea/libraries/Maven__com_github_fommil_jniloader_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_core_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_native_ref_java_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_native_system_java_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_linux_armhf_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_linux_i686_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_linux_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_osx_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_win_i686_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_ref_win_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_linux_armhf_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_linux_i686_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_linux_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_osx_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_win_i686_natives_1_1.xml
/.idea/libraries/Maven__com_github_fommil_netlib_netlib_native_system_win_x86_64_natives_1_1.xml
/.idea/libraries/Maven__com_github_fracpete_jclipboardhelper_0_1_2.xml
/.idea/libraries/Maven__com_github_fracpete_jfilechooser_bookmarks_0_1_9.xml
/.idea/libraries/Maven__com_github_fracpete_jshell_scripting_0_1_2.xml
/.idea/libraries/Maven__com_github_fracpete_multisearch_weka_package_2021_2_17.xml
/.idea/libraries/Maven__com_github_fracpete_processoutput4j_0_0_9.xml
/.idea/libraries/Maven__com_github_fracpete_sizeofag_1_0_4.xml
/.idea/libraries/Maven__com_github_luben_zstd_jni_1_4_0_1.xml
/.idea/libraries/Maven__com_github_rwl_optimization_1_3.xml
/.idea/libraries/Maven__com_github_vbmacher_java_cup_11b_20160615.xml
/.idea/libraries/Maven__com_github_vbmacher_java_cup_runtime_11b_20160615.xml
/.idea/libraries/Maven__com_github_waikato_fcms_widgets_0_0_25.xml
/.idea/libraries/Maven__com_github_waikato_jclasslocator_0_0_19.xml
/.idea/libraries/Maven__com_github_yannrichet_JMathArray_1_0.xml
/.idea/libraries/Maven__com_github_yannrichet_JMathIO_1_0.xml
/.idea/libraries/Maven__com_github_yannrichet_JMathPlot_1_0_1.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_8_9.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_4.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_guava_guava_29_0_jre.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_googlecode_efficient_java_matrix_library_ejml_0_22.xml
/.idea/libraries/Maven__com_googlecode_java_diff_utils_diffutils_1_2_1.xml
/.idea/libraries/Maven__com_googlecode_matrix_toolkits_java_mtj_1_0_4.xml
/.idea/libraries/Maven__com_googlecode_netlib_java_netlib_java_1_1.xml
/.idea/libraries/Maven__com_ibm_icu_icu4j_2_6_1.xml
/.idea/libraries/Maven__com_opencsv_opencsv_4_0.xml
/.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_2.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_12.xml
/.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
/.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
/.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
/.idea/libraries/Maven__commons_io_commons_io_2_7.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
/.idea/libraries/Maven__concurrent_concurrent_1_3_4.xml
/.idea/libraries/Maven__dom4j_dom4j_1_5.xml
/.idea/libraries/Maven__dsol_dsol_1_6_9.xml
/.idea/libraries/Maven__dsol_dsol_xml_1_6_9.xml
/.idea/libraries/Maven__dsol_event_1_6_9.xml
/.idea/libraries/Maven__dsol_interpreter_1_6_9.xml
/.idea/libraries/Maven__dsol_jstats_1_6_9.xml
/.idea/libraries/Maven__dsol_language_1_6_9.xml
/.idea/libraries/Maven__dsol_logger_1_6_9.xml
/.idea/libraries/Maven__dsol_naming_1_6_9.xml
/.idea/libraries/Maven__gisbeans_gisbeans_1_0_0_beta4.xml
/.idea/libraries/Maven__gov_nist_math_jama_1_0_3.xml
/.idea/libraries/Maven__jakarta_activation_jakarta_activation_api_1_2_2.xml
/.idea/libraries/Maven__jakarta_xml_bind_jakarta_xml_bind_api_2_3_3.xml
/.idea/libraries/Maven__java3d_j3d_core_1_3_1.xml
/.idea/libraries/Maven__java3d_j3d_core_utils_1_3_1.xml
/.idea/libraries/Maven__java3d_vecmath_1_3_1.xml
/.idea/libraries/Maven__jaxen_jaxen_1_1_beta_4.xml
/.idea/libraries/Maven__jaxme_jaxme_api_0_3.xml
/.idea/libraries/Maven__jcommon_jcommon_0_9_5.xml
/.idea/libraries/Maven__jdom_jdom_1_0.xml
/.idea/libraries/Maven__jfree_jcommon_1_0_16.xml
/.idea/libraries/Maven__jfree_jfreechart_1_0_13.xml
/.idea/libraries/Maven__jfreechart_jfreechart_0_9_20.xml
/.idea/libraries/Maven__junit_junit_4_13_1.xml
/.idea/libraries/Maven__log4j_log4j_1_2_17.xml
/.idea/libraries/Maven__math_math_1_0_0.xml
/.idea/libraries/Maven__msv_relaxngDatatype_20030807.xml
/.idea/libraries/Maven__msv_xsdlib_20030807.xml
/.idea/libraries/Maven__net_java_dev_jna_jna_5_3_0.xml
/.idea/libraries/Maven__net_sf_meka_meka_1_9_7.xml
/.idea/libraries/Maven__net_sf_trove4j_trove4j_3_0_3.xml
/.idea/libraries/Maven__net_sourceforge_f2j_arpack_combined_all_0_1.xml
/.idea/libraries/Maven__nz_ac_waikato_cms_adams_simple_directory_chooser_0_0_3.xml
/.idea/libraries/Maven__nz_ac_waikato_cms_weka_thirdparty_bounce_0_18.xml
/.idea/libraries/Maven__nz_ac_waikato_cms_weka_weka_dev_3_9_6.xml
/.idea/libraries/Maven__org_apache_commons_commons_compress_1_20.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_7.xml
/.idea/libraries/Maven__org_apache_commons_commons_math3_3_6_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_text_1_1.xml
/.idea/libraries/Maven__org_apache_kafka_kafka_clients_2_3_0.xml
/.idea/libraries/Maven__org_apache_mahout_mahout_collections_1_0.xml
/.idea/libraries/Maven__org_apache_maven_doxia_doxia_sink_api_1_0.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_manager_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_plugin_api_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_plugin_registry_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_profile_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_project_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_maven_settings_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_reporting_maven_reporting_api_2_0_9.xml
/.idea/libraries/Maven__org_apache_maven_wagon_wagon_provider_api_1_0_beta_2.xml
/.idea/libraries/Maven__org_ccil_cowan_tagsoup_tagsoup_0_9_7.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_2_11_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_container_default_1_0_alpha_9_stable_1.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_0.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_5.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_5.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_jfree_jcommon_1_0_23.xml
/.idea/libraries/Maven__org_jfree_jfreechart_1_0_19.xml
/.idea/libraries/Maven__org_kramerlab_autoencoder_0_1.xml
/.idea/libraries/Maven__org_kramerlab_bmad_2_4.xml
/.idea/libraries/Maven__org_lz4_lz4_java_1_6_0.xml
/.idea/libraries/Maven__org_markdownj_markdownj_core_0_4.xml
/.idea/libraries/Maven__org_scala_lang_scala_library_2_10_2.xml
/.idea/libraries/Maven__org_scala_lang_scala_swing_2_10_2.xml
/.idea/libraries/Maven__org_scalatest_scalatest_maven_plugin_1_0_M2.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_26.xml
/.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_26.xml
/.idea/libraries/Maven__org_xerial_snappy_snappy_java_1_1_7_3.xml
/.idea/libraries/Maven__pull_parser_pull_parser_2.xml
/.idea/libraries/Maven__sax_sax_2_0_1.xml
/.idea/libraries/Maven__xalan_xalan_2_6_0.xml
/.idea/libraries/Maven__xerces_xercesImpl_2_6_1.xml
/.idea/libraries/Maven__xerces_xmlParserAPIs_2_6_2.xml
/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
/.idea/libraries/Maven__xom_xom_1_0b3.xml
/.idea/misc.xml
/moa-kafka/moa-kafka.iml
/moa-pom.iml
/moa-release.iml
/.idea/modules.xml
/.idea/vcs.xml
